@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
body{
    color: #ffffff;
    
    font-family: 'Poppins',sans-serif;
    padding: 0;
    margin: 0;
    text-align: justify;
}
h1{
    padding-top: 7%;
    padding-left: 0%;
    color: #808080;
}
image{
    height: 50vh;
}
section{
    display: grid;
    place-items: center;
    align-content: center;
    transform: translateX(-100%);
}
section:nth-child(1){
    background-image: url(info_page_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}
section:nth-child(2){
    color: black;
    height: 90vh;
}
section:nth-child(3){
    background-color: #34c6eb;
    color: white;
    height: 100vh;
}
section:nth-child(4){
    color: black;
    height: 100vh;
}
section:nth-child(5){
    background-color: #34c6eb;
    color: white;
    height: 100vh;
}
section:nth-child(6){
    color: black;
    height: 60vh;
}
.hidden{
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
p{
    border: #3d5a80 solid 1px;
    padding: 1%;
    box-sizing: border-box; 
    margin: 2%;
}
ul{
    list-style-type: circle;
    border: white solid 1px;
}
ul p{
    border: none;
}
li span{
   color: #000; 
}
.container{
    display: flex; /* Use flexbox layout */
    align-items: center;
}
